.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1200px) {
    & {
      margin-left: 7.8rem;
      padding: 1.2rem 0 3.4rem 0;
    }
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 6rem 0 2rem 0;
    text-align: center;

    @media (min-width: 1200px) {
      & {
        text-align: left;
        margin-top: 1.2rem;
      }
    }
  }

  &__form {
    @media (min-width: 1200px) {
      & {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: center;
  }

  &__input {
    background: $blackBackground;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    padding: 1.6rem 0 1.6rem 1.5rem;
    width: 90%;
    margin-right: 1.2rem;
    color: #fff;

    @media (min-width: 768px) and (max-width: 1199px) {
      & {
        width: calc(400px + 20%);
      }
    }

    @media (min-width: 1200px) {
      & {
        width: 35.8rem;
      }
    }

    &:hover,
    &:focus {
      border: 1px solid $blue;
      outline: none;
    }
  }

  &__button-container {
    @media (max-width: 1199px) {
      & {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
      }
    }
  }

  &__button {
    background-color: $blue;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.875;
    padding: 1rem 2.4rem 1rem 4.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}
