.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: 1200px) {
    & {
      text-align: left;
    }
  }

  &__address {
    color: #fff;
  }

  &__address,
  &__link {
    line-height: 1.7;
  }

  &__link {
    color: var(--gray);
    transition: color 0.25s $cubic;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
