.footer {
  background-color: $blackBackground;
  padding: 6rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: clamp(32rem, 100%, 120rem);

    @media (min-width: 1200px) {
      & {
        flex-direction: row;
      }
    }
  }

  &__wrapper {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    @media (min-width: 1200px) {
      & {
        justify-content: space-between;
        align-items: none;
      }
    }
  }
}
