.header {
  display: flex;
  padding: 2.4rem 0;
  border-bottom: 1px solid #ececec;

  & .navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include middleSpace();
  }
}
