.contact-info {
  &__list {
    display: flex;

    @media (min-width: 768px) and (max-width: 1200px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__link {
    margin-left: 9.3rem;

    &:hover,
    &:focus {
      color: $blue;
      fill: $blue;
    }
  }

  &__item {
    @media (min-width: 768px) and (max-width: 1200px) {
      &:last-child {
        margin-top: 1rem;
      }
    }
  }

  &__link,
  &__item {
    color: $gray;
    fill: $gray;
    transition: color, fill 0.25s $cubic;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: lowercase;
  }
}

@media (max-width: 768px) {
  .contact-info {
    display: none;
  }
}
