.header {
  padding: 2.4rem 0;
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: clamp(32rem, 95%, 120rem);
  }

  & .navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
