.hero-section {
  background-image: url(../images/header-img-mobile.png);
  background-color: rgba(47, 48, 58, 0.4);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;

  @media (min-width: 768px) {
    & {
      background-image: url(../images/heasre-img-tablet.png);
    }
  }

  @media (min-width: 1200px) {
    & {
      background-image: url(../images/topSection-background\ img.jpg);
    }
  }

  &__container {
    padding: 20rem 0;
    min-width: 32rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1200px) {
      & {
        height: 60rem;
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 1.35;
    color: #ffffff;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    display: inline-block;
    width: clamp(35rem, 80%, 69.9rem);

    @media (min-width: 700px) {
      & {
        width: clamp(35rem, 65%, 69.9rem);
      }
    }

    @media (min-width: 768px) and (max-width: 890px) {
      & {
        width: clamp(35rem, 70%, 69.9rem);
      }
    }

    @media (min-width: 891px) and (max-width: 1199px) {
      & {
        width: clamp(35rem, 50%, 69.9rem);
      }
    }

    @media (min-width: 1200px) {
      font-size: 4.4rem;
    }
  }

  &__button {
    background-color: $blue;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.875;
    color: #ffffff;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
    padding: 1rem 4.1rem 1rem 4.2rem;
  }
}
