.our-team-section {
  background-color: $whiteBackground;

  &__container {
    margin: 0 auto;
    width: clamp(32rem, 100%, 120rem);
    padding: 6rem 0;

    @media (min-width: 768px) {
      & {
        max-width: 768px;
      }
    }

    @media (min-width: 1200px) {
      & {
        max-width: 1200px;
      }
    }
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 700;
    color: $black;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    @media (min-width: 768px) {
      & {
        justify-content: space-between;
      }
    }
  }

  &__item {
    line-height: 0px;
  }

  &__card-background {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    border: none;
  }

  &__name {
    color: $black;
    font-weight: 500;
    padding-top: 3rem;
  }

  &__job {
    padding-bottom: 2.8rem;
  }

  &__name,
  &__job {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.875;
  }

  &__social-media-container {
    padding: 0 27.5% 3rem 27.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 450px) {
      padding: 0 20% 3rem 20%;
    }

    @media (min-width: 768px) {
      & {
        padding: 0 22.5% 3rem 22.5%;
      }
    }

    @media (min-width: 1200px) {
      & {
        padding: 0 17.5% 3rem 17.5%;
      }
    }
  }

  &__social-media-link {
    transition: fill, background, border-radius 0.25s $cubic;
  }

  &__svg-icon {
    cursor: pointer;
    fill: $graySvg;
    padding-inline: 1rem;
    width: 4rem;
    height: 4rem;
    transition: fill, background, border-radius 0.25s $cubic;

    .our-team-section__social-media-link:focus & {
      fill: #fff;
      background: $blue;
      border-radius: 2rem;
    }

    &:hover,
    &:active {
      fill: #fff;
      background: $blue;
      border-radius: 2rem;
    }
  }
}
