.specialization-section {
  background-color: #fff;

  &__container {
    margin: 0 auto;
    width: clamp(32rem, 70%, 120rem);
    padding: 6rem 0;

    @media (min-width: 768px) {
      & {
        width: clamp(32rem, 97%, 120rem);
      }
    }

    @media (min-width: 780px) {
      & {
        width: clamp(32rem, 95%, 120rem);
      }
    }

    @media (min-width: 850px) {
      & {
        width: clamp(32rem, 90%, 120rem);
      }
    }
    @media (min-width: 1050px) {
      & {
        width: clamp(32rem, 75%, 120rem);
      }
    }

    @media (min-width: 1200px) {
      & {
        width: clamp(32rem, 100%, 120rem);
        padding: 9.4rem 0;
      }
    }
  }

  &__list {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    // place-items: center;
    // place-content: center;
    // max-width: 100%;

    // @media (max-width: 450px) {
    //   & {
    //     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    //   }
    // }

    // @media (min-width: 768px) {
    //   & {
    //     grid-template-columns: repeat(auto-fit, minmax(35.4rem, 1fr));
    //     gap: 3rem;
    //   }
    // }

    // @media (min-width: 1200px) {
    //   & {
    //     grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    //   }
    // }

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  &__item {
    max-width: 30rem;

    @media (min-width: 768px) {
      & {
        max-width: 35.4rem;
      }
    }

    @media (min-width: 1200px) {
      & {
        max-width: 27rem;
      }
    }
  }

  &__svg-container {
    background-color: $whiteBackground;
    width: 100%;
    border-radius: 0.4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }

  &__svg-icon {
    padding: 2.5rem 0;

    &:nth-child(1) {
      width: 7rem;
      height: 12rem;
    }

    &:nth-child(2) {
      width: 6.7rem;
      height: 7rem;
    }

    &:nth-child(3) {
      width: 7rem;
      height: 6.3rem;
    }

    &:nth-child(4) {
      width: 5.5rem;
      height: 6rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: $black;
    text-align: center;
  }

  &__text {
    line-height: 1.875;
    width: 100%;
  }
}
