$blackBackground: #2f303a;
$black: #212121;
$blue: #2196f3;
$whiteBackground: #f5f4fa;
$white: #e5e5e5;
$gray: #757575;
$graySvg: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$fontRaleway: "Raleway", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$footerWidth: calc(500px + 20%);
